<div class="container">
  <% if logged_in? %>
    <h1> Vítej, <%= current_user.username %>, zde je krátký přehled záznamů.</h1>
  <%else%>
    <h1> Vítejte, bez přihlášení je k dispozici pouze omezený režim prohlížení.</h1>
  <%end%>
</div>

